<!-- views/pages/index.ejs -->

<%- include ('./partials/head') %>

    <body class="container">

        <header class="masthead">
            <h1>BirthDay Wishes Bot</h1>
            <h1>HELLO</h1>
        </header>
        <br><br><br><br>
        <h2>To update or create a card for a birthday use:</h2>
        <h4>https://birthday-wishes1.azurewebsites.net/wishes/form?person_name={NAMEOFPERSON}</h4>

        <h5>replace {NAMEOFPERSON} with the person's name</h5>
        <br><br><br>

        <h2>For card to be sent to celebrant</h2>
        <h4>https://birthday-wishes1.azurewebsites.net/wishes/completed?person_name={NAMEOFPERSON}</h4>
        <h5>replace {NAMEOFPERSON} with the person's name</h5>
    </body>