<!-- views/pages/index.ejs -->

<%- include ('./partials/head') %>

    <body class="container">

        <header class="masthead">
            <h1>BirthDay Wishes Bot</h1>
            <h1>HELLO</h1>
        </header>
    </body>