
<body class="container">

    <header class="masthead">
        <h1>BirthDay Wishes Bot</h1>
        <h1>HELLO</h1>
    </header>
    <br><br><br><br>
    <h2>Card submitted successfully!!</h2>
    
</body>